@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Rubik';
  background: #202123;
  color: white;
}
.home{
  width: 100%;
}

.intro{
  /* background: lightblue; */
  width: 85%;
  height: 100vh;
  margin: 0 auto;
  margin-top: 2%;
}

button{
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  transition: .4s all ease;
}

button:active{
  transform: rotate(20deg);
}

.tip{
  width: fit-content;
  background: #121212;
  color: #f2f2f284;
  padding: 5px 20px;
  font-size: 10px;
  letter-spacing: 2px;
}

.intro-head{
  width: 100%;
  box-sizing: border-box;
}

.intro h1{
  font-size: 50px;
  width: 40%;
  font-weight: 400;
}

.intro span{
  font-weight: 600;
}

.intro-body{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

form{
  width: 100%;
  margin-top: 2%;
  /* background: yellow; */
}

input{
  all: unset;
  border: 1px solid #f2f2f284;
  padding: 12px 20px;
  border-radius: 20px;
}

form .head{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 2%;
}

form .head input:first-child{
  width: 60%;
}

form .head select{
  width: 40%;
  border: 1px solid #f2f2f284;
  background: none;
  font-size: 16px;
  color: #f2f2f284;
  padding: 12px 20px;
  border-radius: 20px;
  appearance: none;
}

form .head select option{
  outline: unset;
  border: none;
  background: #121212;
}


form .body{
  width: 100%;
  margin-top: 2%;
  /* background: lightblue; */
}

textarea{
  all: unset;
  width: 100%;
  height: 120px;
  padding: 12px 20px;
  border: 1px solid #f2f2f284;
  border-radius: 10px;
  box-sizing: border-box;
  resize: none; /* Prevent resizing of the textarea */
  overflow-y: auto; /* Enable vertical scrolling when needed */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  white-space: pre-wrap;
 
}

form .foot{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
  margin-top: 2%;
}

form .foot input{
  border: none;
  background: lightgreen;
  cursor: pointer;
  padding: 10px 80px;
  color: #121212;
}

.cards{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 2%;
  overflow: hidden;
  white-space: nowrap;
}

.card{
  background: #121212;
  color: #f2f2f284;
  width: 28%;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}

.card-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}

.card-head div:first-child{
  font-weight: 500;
  width: 60%;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-head div:last-child{
  min-width: 20%;
  text-align: center;
  background: #121212;
  color: #f2f2f284;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 8px;
  letter-spacing: 2px;
}

.card-head .Canceled{
  background: #c61025 !important;
}

.card-head .Completed{
  background: #00753b !important;
}

.card-head .Pending{
  background: #e53733 !important;
}

.card-body{
  width: 100%;
  height: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  text-align: start;
}

.delete{
  margin-top: 2%;
}

.delete input{
  text-decoration: underline;
  padding: 0;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {

  .tip{
    margin-top: 6%;
  }

 .intro-head h1{
  width: 70%;
 }

 .intro-body{
  flex-direction: column;
  align-items: start;
  line-height: 0px;
 }

  form{
    margin-top: 4%;
  }

  form .head{
    flex-direction: column;
  }

  form .head input:first-child, form .head select{
    box-sizing: border-box;
    width: 100%;
  }

  form textarea{
  height: 200px;
  }

  .card{
    width: 100%;
    padding: 10px 16px;

  }


}


@media only screen and (max-width: 480px) {

  .intro-head h1{
   width: 90%;
   font-size: 40px;
  }
 }